<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Peeps</title>
</head>
<body>
<ul>
    {{range .Wisdom}}
    <li>{{.Name}}</li>
    {{end}}
</ul>

<ul>
    {{range .Transport}}
    <li>{{.Model}}</li>
     <li>{{.Door}}</li>
    {{end}}
</ul>
</body>
</html>